
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__li:not(:last-of-type) {
   padding-right: 20px;
   font-weight: 300;
}

.header__links {
    list-style: none;
    display: flex;
}

.header__logo {
    height: 90px;
    width: 90px;
}


img {
    padding-right: 20px;
    height: 20px;
}




