  
.circle_left {
   
    height: 200px;
    width: 200px;
    transform: translate(-46%);
    margin-top: 230px;
}  

.circle_right {
left: 920px;
  width: 200px;
  height: 200px;
  transform: translate(530%);
  
  }

 

  .nike_shoes {
    height: 420px;
    width: 650px;
    transform: translate(-5%);
    margin-top: 140px ;
    position: absolute;
   
  }

  .main_text {
    margin-top: 5px;

    width: 780px;
    height: 128px;
    position: relative;
   
  }
  

  .arrow_left {
    width: 50px;
    height: 70px;
    position: absolute;
    left: 2%;
    top: 47%
}

.arrow_right {
    width: 50px;
    height: 70px;
    position: absolute;
    left: 95%;
    top: 47%;
    
}


  

