.footer {
   display: flex;
   align-items: flex-end;
   justify-content: space-evenly;
   margin: 0;
}

.price {
    font-size: 32px;
    margin-top: 150px;
    margin-left: 22%;
    position: absolute;
}


.textFooter {
    width: 340px;
    font-weight: 300;
    margin-top: 250px;
    margin-left: 12%;
    line-height: 20px;

    position: absolute;
}

.star {
    font-size: 20px;
    top: 85%;
    left: 26%;
    position: absolute;

}


.emptyStar{
        font-size: 20px;
        margin-top: 200px;
        margin-left: 25%;
        position: absolute;
    }  


    .button {
            font-size: 16px;
            margin-top: 250px;
            margin-left: 55%;
            position: absolute;
        }
        

    
